@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
  --board_row_count: 8;
  --board_col_count: 10;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: Kanit, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.box {
}

#site_header {
}

#starting_point,
#finish_line {
 
}

#page_content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

#site_footer {
}

#game_state {
  order: 2;
}

#players {
}

#game_board {
  height: 80%;
  order: 1;
  flex-grow: 1;
  background-color: white;
  border-collapse: collapse;
  position: relative;
  z-index: -1;
}

#game_board tr {
  height: calc(100% / var(--board_row_count));
}

#row3,
#row7
{
  flex-direction: row-reverse;
}

.board_cell,
.board_cell_empty {
  width: calc(100% / var(--board_col_count));
  min-width: 64px;
  min-height: 64px;
  padding: 0;
  border: 1px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.row {
  display: flex;
}
/*
  Code taken from an example foun on the W3 School website. Available at:
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_circles
*/
.color_circle {
  height: 1.5vw;
  width: 1.5vw;
  background-color: rgb(221, 23, 23);
  border-radius: 50%;
  display: inline-block;
}



.player {
  position: absolute;
  height: calc(100% / var(--board_row_count));
  top: calc((var(--board_row_count) - 1) * 100% / var(--board_row_count));
  transition: left 1s ease-out, top 1s;
}
/*
.active_player {
  filter: drop-shadow(5px 5px 5px green);
}
*/


/*
Acomoda elementos para hacerlos responsive segun un cambio de tamaño de pantalla

*/

@media (max-width: 640px) {
  #page_content {
    flex-direction: column;
  }
  .board_cell,
  .board_cell_empty {
    min-width: 27px;
    min-height: 27px;
  }
  #SunCounterProgressBar{
    width:70px;
    transform: rotate(-180deg);
  }
  #LadoIzquierdoTablero{
    order: 3;
  }
  
  #CentroTablero{
    order: 2;
  }
  
  #LadoDerechoTablero {
    order: 1;
    height: 70px;
  }

  #SunCounterProgressBar{
    margin-bottom: 15px;
  }

  #footer{
    width: 100%;
    order: 4;
  }
  body{
    height: unset;

  }
}
