html{
    font-family: Arial, Helvetica, sans-serif;
  }
  
 

  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
}
footer{
    margin-top: auto;
    border-top: solid;
  }

  header{
    border-bottom: solid;
  }

  header, footer {
    background-color:#0CCA4A;
  }


#current_page, #footer_elementB {
  display:inline;
  width:20%;
  margin: auto;
  font-size: 2vw;
}
  a {
 
    text-decoration:none;
    color:black;
    padding: 1%;
    font-size: 1vw;
  }

  #website_logo{
    text-align: center;
    max-width: 3%;
    height: auto;
    vertical-align: text-bottom;
  }

#website_title, #footer_elementB{
  display:inline;
}

#website_title{
  font-size: 3vw;
}

.secondary_button{
    background-color:#fcf14c;
    float:right;
    margin-top: 12px;
    margin-right: 15px;
  }

  .go_back_button{
    background-color:#fc4c4c;

  }
  .continue_button, #invitation_button{
    background-color:#3dfc03;
  }

  #navigation_options ,header ,footer{
    align-items: center;
    display: flex;
  }

  #navigation_options li{
    width:45%;
  }

  a:hover, .question_mark_button:hover, #invitation_button:hover{
    filter:brightness(75%);
  }


/*
  Code taken from an example found in W3Schools website. Available at:
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons
*/
.question_mark_button {
    background-color:white; /* */
    border: solid 0.1vw;
    padding: 0.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9vw;
    margin: 0.3% 0.3%;
    cursor: pointer;
    border-radius: 45%;
  }
