html{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body,hr{
    margin: 0;

  }

  header, footer {
    background-color:#0CCA4A;
  }


#current_page, #footer_elementB {
display:inline;
  width:300px;
  margin: auto;
}
  a {
 
    text-decoration:none;
    color:black;
    padding: 5px;
  }

  #website_logo{
    text-align: center;
    max-width: 3%;
    height: auto;
    vertical-align: text-bottom;
  }

#website_title, #footer_elementB{
  display:inline;
}

.secondary_button{
    background-color:#fcf14c;
    float:right;
    margin-top: 12px;
    margin-right: 15px;
  }

  .go_back_button{
    background-color:#fc4c4c;

  }
  .continue_button, #invitation_button{
    background-color:#3dfc03;
  }

  #navigation_options ,header ,footer{
    align-items: center;
    display: flex;
  }

  #navigation_options li{
    width:550px;
  }

  a:hover, .question_mark_button:hover, #invitation_button:hover{
    filter:brightness(75%);
  }


/*
  Code taken from an example found in W3Schools website. Available at:
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_round_buttons
*/
.question_mark_button {
    background-color:white; /* */
    border: solid;
    border-width:1px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 45%;
  }
