.continue_button {
  margin-left: 45%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.rectangle {
  padding: 2em 2em 2em 2em;
  max-height: 70em;
  max-width: 70em;
  background-color: #ddda8c;
  margin-top: 0;
  margin-bottom: 0;
}

#home_page_screenshot_image {
  max-width: 100%;
}
