.center {
  margin-left: auto;
  margin-right: auto;
}

.rectangle {
  padding-left: 1em;
  padding-right: 1em;
  max-height: 50em;
  max-width: 70em;
  background-color: #ddda8c;
  margin-top: 0;
  margin-bottom: 0;
}

#home_page_screenshot_image {
  max-width: 100%;
}
