#current_page, .instructions_button{
  margin-left:440px;
}

h5 {
  display:inline;
  font-size: 20px;
}

label {
  margin-right: 40px;
}
.settings_slider{
  margin-bottom: -8px;
}

.simon_says_punishment_for_failing{
  margin-left: 50px;
}