
/*
Stylizes the grid used for the vector where the sun will normally advance each turn

 Code taken and slightly modified from an example found in w3schools website. Available at:
https://www.w3schools.com/css/css_grid.asp
*/
.grid-containerSunVector {

  column-count: 7;
  background-color: #343148;
  padding: 10px;
  row-gap: 15px;
}

/*
Stylizes the steps for the game board

 Code taken and slightly modified from an example found in w3schools website. Available at:
https://www.w3schools.com/css/css_grid.asp
*/
.grid-itemPath {
  background-color: #88b04b;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*
Stylizes the squares part of the vector for the sun

 Code taken and slightly modified from an example found in w3schools website. Available at:
https://www.w3schools.com/css/css_grid.asp
*/
.grid-itemSun {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  width: 50px;
}

/*
Changes the size of the button that lets to take new cards
*/
#cardsGetStack {
  height: 50px;
  width: 50px;
}

/*
It adjusts the positions to be vertical
*/
.container-column {
 
  align-items: center;
  flex-direction: column;
 
}
/*
Adjusts the position of the text of the percentage of filling of the sun counter progress bar
*/
#SunCounterText{
    display: flex;
}
/*
It adjusts the positions to be horizontal
*/
.container-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  
}



/*
It adjusts the positions of image and text to be side by side
*/
.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  
}

/*
Adjusts the size of the selection for the option to share other players hands
*/
#sharedHandsSelection {
  height: 20px;
  width: 20px;
}

/*
Adjusts the size and margin of the buttons for the selection of the card of the user´s hand
*/
.buttonCardsSelection {
  height: 30px;
  width: 60px;
  margin-top: 15px;
}

/*
Adjusts the color of the progress bar background and its direction
*/
.progressVertical {
  background-color: gray;
  transform: rotate(-90deg);
}

/*
Progress bar isnt standard so the vendor prefixes -webkit-progress-value y webkit-progress-bar were used

-webkit-progress-value: is used to add styles to the bar that represents current progress
-webkit-progress-bar: is used to add styles to the container bar of the bar that represents the current progress

 Code taken and slightly modified from an example found in stackoverflow website. Available at:
https://stackoverflow.com/questions/45507970/how-can-i-change-the-color-of-a-progress-bar-value-in-html
*/

.progressVertical::-webkit-progress-value {
  background: black;
}

.progressVertical::-webkit-progress-bar {
  background: gray;
}

/*
Adjusts the sizes of the buttons for the cards of the user´s hand and the button to pick a new card
*/
.img-center {
  height: 60px;
  width: 30px;
}

/*
Adjusts the size of the margin of the right for the button that ends the game session
*/
#endSession {
  margin-right: 45px;
}

/*
Adjusts the position progress bar for the sun counter 
*/
#SunCounterProgressBar{
      
  width:250px; 
  margin-bottom:150px;
}
/*
Adjusts the position of the sun on the vector it follows by turn
*/
#Sun {
 /* position: absolute;*/
/*  height: calc(100% / var(--board_column_count));*/
  top: calc((var(--board_column_count) - 8) * 100% / var(--board_column_count));
  transition: left 1s ease-out, top 1s;
}
/*
Adjusts the size of the cells of the vector the sun goes through 
*/
#Sun_path  {
  height: calc(100% / var(--board_column_count));
}