@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

#website_footer {
  border-top: 1px solid black;
}


.grid-containerMainTable {
  display: inline-grid;
  column-count: 5;
  grid-template-columns: auto ;
  background-color:  white;
  padding: 10px;
  column-gap: 10px;
  row-gap: 15px;

}

.grid-containerSunVector {

  display: inline-grid;
  
  column-count: 1;
  /*grid-template-columns: auto auto auto;*/
    background-color: #343148;
    padding: 10px;
    /*grid-template-columns: 100px 50px 100px;*/
    /*grid-template-rows: 80px auto 80px; */
    
    row-gap: 15px;
}
.grid-containerSunVector:hover {
  opacity: 1;
}


.grid-itemCamino {
  background-color: #88B04B;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.grid-itemSol {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 50px;
}

#buttonFinalizarSesion {
  background-color: #ff0000;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#buttonVolverSalaDeEspera {
  background-color: #ff0000;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#CartasAgarrarStack{
  background-image: url( '../img/CartasAgarrarStack.svg' );
  height: 50px;  
  width: 50px;
}


.image-txt-container {
  display:flex;
  align-items:center;
  flex-direction: row;
  margin: 4px
}

.elements-container {
  display:flex;
  align-items:center;
  flex-direction: row;
  margin: 4px
}

@media (max-width: 950px) {
  #website_menu ul {
    flex-direction: column;
  }
}




.buttonConImagen {
  display: inline-block;
  height: 134px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 104px;
}


#close-CSS {
  background-image: url( '../img/CartasAgarrarStack.svg' );
  height: 134px;  
  width: 104px;
}


#ManoCompartidaSeleccion {
  height: 20px;  
  width: 20px;
}

#ManoCompartidaInterrogacion {
  height: 20px;  
  width: 20px;
}

.buttonCartasSeleccion{
 
  height: 60px;  
  width: 30px;
 
}

#buttonInstrucciones{
  background-color: #DDDA8C;
  border: none;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}


.progressVertical{
  background-color: gray;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.progressHorizontal{
  background-color: gray;
}

.progressHorizontal::-webkit-progress-value {
  background: black;
}

.progressHorizontal::-webkit-progress-bar {
  background: gray;
}

.progressVertical::-webkit-progress-value {
  background: black;
}

.progressVertical::-webkit-progress-bar {
  background: gray;
}


.img-center {
  
  height: 60px;  
  width: 30px;
}