input:disabled , .disabled_button {
  background-color : rgb(114 , 106 , 106);
  color : white;
  cursor : not-allowed;
}

.disabled_button {
  pointer-events : none;
}

#message_for_guests {
  color : red;
}