/*
Stylizes the grid for the game board
*/
.grid-containerMainTable {
  display: inline-grid;
  column-count: 5;
  grid-template-columns: auto ;
  background-color:  white;
  padding: 10px;
  column-gap: 10px;
  row-gap: 15px;

}

/*
Stylizes the grid used for the vector where the sun will normally advance each turn
*/
.grid-containerSunVector {

    display: inline-grid;
    column-count: 1;
    background-color: #343148;
    padding: 10px;
    row-gap: 15px;
}

/*
Stylizes the steps for the game board
*/
.grid-itemPath {
  background-color: #88B04B;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/*
Stylizes the squares part of the vector for the sun
*/
.grid-itemSun {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 50px;
}



/*
Changes the size of the button that lets to take new cards
*/
#CartasAgarrarStack{
  height: 50px;  
  width: 50px;
}


/*
It adjusts the positions of image and text to be side by side
*/
.image-txt-container {
  display:flex;
  align-items:center;
  flex-direction: row;
  margin: 4px;
}



/*
Adjusts the size of the selection for the option to share other players hands
*/
#ManoCompartidaSeleccion {
  height: 20px;  
  width: 20px;
}


/*
Adjusts the size and margin of the buttons for the selection of the card of the user´s hand
*/
.buttonCartasSeleccion{
  height: 60px;  
  width: 30px;
  margin-right: 15px;
}


/*
Adjusts the color of the progress bar background and its direction
*/
.progressVertical{
  background-color: gray;
  transform: rotate(-90deg);
}

/*
Adjusts the color of the progress bar background 
*/
.progressHorizontal{
  background-color: gray;
 
}
/*

Progress bar isnt standard so the vendor prefixes -webkit-progress-value y webkit-progress-bar were used

-webkit-progress-value: is used to add styles to the bar that represents current progress
-webkit-progress-bar: is used to add styles to the container bar of the bar that represents the current progress
*/
.progressHorizontal::-webkit-progress-value {
  background: black;
}

.progressHorizontal::-webkit-progress-bar {
  background: gray;
}

.progressVertical::-webkit-progress-value {
  background: black;
}

.progressVertical::-webkit-progress-bar {
  background: gray;
}


/*
Adjusts the sizes of the buttons for the cards of the user´s hand and the button to pick a new card
*/
.img-center {
  height: 60px;  
  width: 30px;
}
/*
Adjusts the size of the margin of the right for the button that ends the game session
*/
#FinalizarSesion{
  margin-right: 45px;
}
