
#home_page_image {
  height: 50%;
  margin-top: 2em;
  max-width: 22em;
}

#join_button,
#start_button,
#home_page_image {
  word-wrap: break-word;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 1em;
  color: black;
  padding: 1em 1.5em 2em;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 1021px) {
  .instructions_button {
    font-size: 44px;
  }
}

@media screen and (max-width: 1700px) {
  .instructions_button {
    font-size: 40px;
  }
}

@media screen and (max-width: 1550px) {
  .instructions_button {
    font-size: 36px;
  }
}

@media screen and (max-width: 1330px) {
  .instructions_button {
    font-size: 32px;
  }
}

@media screen and (max-width: 1150px) {
  .instructions_button {
    font-size: 28px;
  }
}

@media screen and (max-width: 420px) {
  .instructions_button {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .instructions_button {
    font-size: 16px;
  }
}
