
h3 {
  margin-left: 20px;
  font-size: 1.5vw;
}

h2{
  font-size: 2vw;
}

label {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 1.8vw;
}

ul{
  list-style-type:none;
}


#sun_counter_gracetime,#simon_says_gracetime{
  width: 8%;
}

#invitation_link{
  display:inline;
  font-size: 1.5vw;
}

#invitation_button{
  width: 20%;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 2vw;
}

.settings_menu_item{
  margin-bottom: 25px;
}

.settings_slider{
  margin-bottom: -8px;
  width:20%;
}


#list_of_players{
  display: block;
  border-bottom:solid;
  border-right:solid;
  border-left:solid;
  float:right;
  width: 30%;
  font-size: 2vw ;
  

  
}

.player_icon{
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 751px) {
  /* For mobile phones: */
   #list_of_players{
    display: flex;
    float: none;
    width: 50%;
    margin-left: 20%;

  }
  #simon_says_punishment_for_failing li{
    font-size: 1.5vw;
  }

  h5,h3,h2,h1{
    text-align: center;
  }

  h5 {
    font-size: 2vw;
  }
  
  h3 {
    margin-left: 20px;
    font-size: 3vw;
  }
  
  h2{
    font-size: 4vw;
  }
  
  label {
    font-size: 2.5vw;
  }


  }