
h5 {
  display:inline;
  font-size: 20px;
}

h3 {

  margin-left: 20px;
}

label {
  margin-right: 40px;
  margin-left: 40px;
}

.settings_menu_item{
  margin-bottom: 25px;
}

.settings_slider{
  margin-bottom: -8px;
}

.simon_says_punishment_for_failing{
  margin-left: 50px;
}

#list_of_players{
  display: block;
  border-bottom:solid;
  border-right:solid;
  border-left:solid;
  float:right;
  width: 350px;
  font-size: 25px ;
  margin-right: 100px;
  padding-bottom: 100px;
}

ul{
  list-style-type:none;
}

.player_icon{
  width: 20px;
  height: 20px;
}